<li class="card">
    <div class="done"
        [ngStyle]="{'display': collection.fullLearned ? 'flex' : 'none'}">
        <div class="done-filter"></div>
        <mat-icon>done</mat-icon>
    </div>
    
    <a class="card-image">
        <app-img-lazy-load [img]="collection.currentImage"></app-img-lazy-load>
    </a>
    <a class="card-description">
        <h2>{{collection.name}}</h2>
        <p>{{collection.wordsCount}}</p>
        
    </a>

    <button 
        mat-icon-button
        class="edit-btn">
        <mat-icon>edit</mat-icon>
    </button>
    <div class="divider"></div>
</li>
