<h1 mat-dialog-title>
    Створення колекції    
</h1>
<mat-dialog-content>
    <app-slider (currentSlideChanged)="currentSlideChanged($event)"></app-slider>
  <mat-form-field style="margin-bottom: -1.25em;">
    <mat-label>Назва колекції</mat-label>
    <input matInput [(ngModel)]="searchTerm" (input)="onInput()" #collectionName="ngModel" required>
    <!-- <input matInput [(ngModel)]="name" #nameInput="ngModel" required> -->
    <mat-error *ngIf="collectionName.invalid">Обов'язкове поле</mat-error>
  </mat-form-field>
</mat-dialog-content>


<mat-dialog-actions align="end">
    <button mat-stroked-button (click)="onNoClick()">Скасувати</button>
    <button mat-flat-button color="primary" (click)="onCreateCollection()" [disabled]="collectionName.invalid">Створити</button>
</mat-dialog-actions>
