<mat-card class="repeat-component">
    <mat-card-header>
        <mat-card-title>
            Слова на повторенні
        </mat-card-title>
        <mat-card-subtitle>кількість</mat-card-subtitle>
    </mat-card-header>    
       
    <mat-card-content class="repeat__content">
        <div class="words-count">0</div>
        <mat-card-actions >
            <button mat-stroked-button color="primary"
                [disabled]="true">ПОВТОРИТИ</button>
        </mat-card-actions>
    </mat-card-content>
</mat-card>
