<li class="card">
    <div class="card-inside-cont">

        <div class="description">
            <button mat-icon-button color="primary">
                <mat-icon>volume_up</mat-icon>
            </button>
            <a class="card-description">
                <h2>{{word.word}}</h2>
                <p>{{word.translations[0]}}</p>
            </a>
        </div>
        
        <div class="divider"></div>
    
        <div class="left-side-card-cont">
            <div class="spinner-cont" 
                matTooltip="Прогрес вивчення слова">
                <mat-progress-spinner
                    class="status"
                    color="primary"
                    mode='determinate'
                    [value]="word.status">
                </mat-progress-spinner>
                <span>{{word.status}}%</span>
                <mat-progress-spinner
                    class="spinner-back"
                mode='determinate'
                    [value]="100">
                </mat-progress-spinner>
            </div>
            
    
            <a class="card-image">
                <app-img-lazy-load [img]="word.currentImage"></app-img-lazy-load>
            </a>
          
    
            <button 
            (click)="onExpansionPanel($event)"
                mat-icon-button
                class="edit-btn">
                <mat-icon>keyboard_arrow_down</mat-icon>
            </button>
        </div>

    </div>
    
    <div class="expansion-panel" *ngIf="isExpansed">
        <app-examples [examples]="word.examples"></app-examples>
        <button mat-icon-button class="delete">
            <mat-icon>delete_forever</mat-icon>
        </button>
     </div>
    
</li>


