::ng-deep .grid {
    display: block;
    margin: 1rem auto;
    width: var(--container-width);
    padding: 0;
    font-size: 0;
    text-align: center;
    list-style: none;

	app-add-collection-card,
    app-collection {

        .card {
            position: relative;
            display: inline-block;
            overflow: hidden;
            width: 90%;
            max-width: 18rem;
            margin: 1rem;
            background: #ffff;
            font-size: 1rem;
            text-decoration: none;
            overflow: hidden;
            box-shadow: 0 0 3rem -1rem rgba(0,0,0,0.5);
            transition: transform 0.2s ease-in-out, box-shadow 0.1s;
            
            .card-image {
                display: block;
                position: relative;
                min-height: 10rem; /* layout hack */
                cursor: pointer;
            }

            .divider {
                display: none;
            }
    
            .card-description {
                position: relative;
                display: block;
                padding: 1em 0.5em;
                // color: #515151;
                text-decoration: none;
            }
            
            .card-description > h2 {
                margin: 0 0 0.1em;
            }
            
            .card-description > p {
                margin: 0;
                color: #515151;
            }
            
            .edit-btn {
                color: lightgray;
                position: absolute;
                bottom: 0;
                right: 0;
            }
            
            .done {
                pointer-events: none;
                position: absolute;
                color: white;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                z-index: 4;
                display: none;
                justify-content: center;
                align-items: center;
                scale: 1;
                opacity: 1;
                transition: all 0.5s ease-in-out;
            
                .done-filter {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    z-index: 5;
                    background: #00000067;
                }
            
                mat-icon {
                    z-index: 6;
                    width: 100%;
                    height: 50%;
                    font-size: 5em;
                }
                
            }
        
        }
    
        .card:hover {
            transform: translateY(-0.5rem) scale(1.0125);
            box-shadow: 0 0.5em 3rem -1rem rgba(0,0,0,0.5);
        }
    
        .card:hover .done {
            opacity: 0;
            scale: 1.5
        }

    }
    
}

::ng-deep .list {
    display: block;
    width: var(--container-width);
    margin: 0 1rem;
    padding: 0;
    font-size: 0;
    text-align: center;
    list-style: none;

	app-add-collection-card,
    app-collection {

      
        .card {
            position: relative;
            display: flex;
            flex-direction: row;
            align-items: center;
            overflow: hidden;
            width: 100%;
            padding: 0px 16px;
            min-height: 5rem;
            margin: 1rem 0rem;
            background: #ffff;
            font-size: 1rem;
            text-decoration: none;
            overflow: hidden;
            box-shadow: 0 0 3rem -1rem rgba(0,0,0,0.5);
            transition: transform 0.2s ease-in-out, box-shadow 0.1s;
            
            .divider {
                display: flex;
                flex: 1 1 auto;
                order: 2;
            }

            .card-image {
                display: block;
                position: relative;
                cursor: pointer;
                order: 3;
                height: 4rem;
                width: 7rem;
                
            }
    
            .card-description {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: center;
                text-decoration: none;
                order: 1;
            }
            
            .card-description > h2 {
                margin: 0 0 0.1em;
            }
            
            .card-description > p {
                margin: 0;
                color: #515151;
            }
            
            .edit-btn {
                color: lightgray;
                order: 4;
                margin-left: 1em;
            }
            
            .done {
                pointer-events: none;
                position: absolute;
                color: white;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                z-index: 4;
                display: none;
                justify-content: center;
                align-items: center;
                scale: 1;
                opacity: 1;
                transition: all 0.5s ease-in-out;
            
                .done-filter {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    z-index: 5;
                    background: #00000067;
                }
            
                mat-icon {
                    z-index: 6;
                    width: 100%;
                    height: 50%;
                    font-size: 3em;
                }
                
            }
        
        }
    
        .card:hover {
            transform: translateY(-0.5rem) scale(1.0125);
            box-shadow: 0 0.5em 3rem -1rem rgba(0,0,0,0.5);
        }
    
        .card:hover .done {
            opacity: 0;
            scale: 1.5
        }

    }
    
    app-add-collection-card {
        .card {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        .create-collection {
            margin-right: calc(24px + 48px);

            mat-icon {
                font-size: 4em !important;
                
            }
        }

    }
}
	
	


