<mat-card class="repeat-component">
    <mat-card-header>
        <mat-card-title>
            Слова на вивченні
        </mat-card-title>
        <mat-card-subtitle>кількість</mat-card-subtitle>
    </mat-card-header>    
       
    <mat-card-content class="repeat__content">
        <div class="words-count">{{wordsForTraining}}</div>
        <mat-card-actions >
            <button 
                [disabled]="wordsForTraining ? false : true"
                mat-flat-button 
                color="primary">
                ТРЕНУВАТИ
            </button>
        </mat-card-actions>
    </mat-card-content>
    
</mat-card>
